@font-face {
  font-family: 'Burbank';
  src: url('/fonts/burbankbigregular-medium.eot'); /* IE9 Compat Modes */
  src: url('/fonts/burbankbigregular-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/burbankbigregular-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/burbankbigregular-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/burbankbigregular-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/burbankbigregular-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Burbank Bold';
  src: url('/fonts/burbankbigregular-bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/burbankbigregular-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/burbankbigregular-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/burbankbigregular-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/burbankbigregular-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/burbankbigregular-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Burbank Black';
  font-weight: '600';
  src: url('/fonts/burbankbigregular-black.eot'); /* IE9 Compat Modes */
  src: url('/fonts/burbankbigregular-black?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/burbankbigregular-black.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/burbankbigregular-black.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/burbankbigregular-black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/burbankbigregular-black.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@media(min-width: 1366px) {
	.container {
	    max-width: 1366px;
	    &.small {
	    	max-width: 820px;
	    }
	}
}

@media(max-width: 1025px) {
	body {
		font-size: 12px;
	}
}

#app {
	position: relative;
	// font-family: 'Londrina Solid', cursive;
	font-family: 'Burbank', cursive;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	.hidden {
		display: none!important;
	}
	#loading {
		z-index: 3;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,0.2);
	}
	header {
		position: relative;
		background-image: url(/images/header.png);
		background-size: cover;
		background-position: bottom center;
		background-repeat: no-repeat;
		z-index: 2;
		&.contest, &.prize {
			background-image: url(/images/background.png);
			#arm {
				top: 68%;
			    width: 60%;
			    max-width: 900px;
			    transform: rotate(-8deg);
			    @media(max-width: 769px) {
			    	top: 72%;
			    }
			}
		}
		&.oops {
			background-image: url(/images/header.png);
			h2 {
				margin-top: -1.75em;
			    margin-bottom: 1em;
			    font-size: 3.3em;
			}
		}
		&.index {
			h2 {
				margin-bottom: 2.5em;
			}
			#arm {
				top: 74%;
			    width: 48%;
			    max-width: 800px;
			    transform: rotate(-7deg);
			}
		}
		#logo {
			display: block;
			margin: 6em auto 9.5em;
		    width: 83%;
		    padding-right: 4%;
		    max-width: 1134px;
		    @media(max-width: 769px) {
		    	// width: 90%;
		    	width: 80%;
		    	margin-top: 5em;
    			padding-right: 0;
		    }
		    @media(max-width: 767px) {
		    	margin: 3em auto 4em;
		    }
		}
		#arm {
		    position: absolute;
		    right: 0;
		    top: 54%;
		    width: 42.5%;
		    max-width: 580px;
		    @media(max-width: 769px) {
		    	top: 60%;
    			width: 45%;
		    }
		}
		h2 {
			text-transform: uppercase;
		    text-align: center;
		    margin-top: -2em;
		    margin-bottom: 4em;
		    font-size: 3.9em;
		    line-height: 1.5em;
		    letter-spacing: 0.03em;
		    font-family: 'Burbank Bold', cursive;
		    @media(max-width: 769px) {
		    	font-size: 3em;
		    	margin-top: -2.85em;
		    }
		    @media(max-width: 767px) {
		    	font-size: 2.5em;
			    margin-top: 0;
			    line-height: 1.1em;
		    }
			strong {
				display: block;
			    font-size: 1.6em;
			    letter-spacing: 0.06em;
			    color: white;
			    @media(max-width: 767px) {
			    	font-size: 1.4em;
			    	line-height: 1em;
			    }
			}
		}
	}
	#content {
		padding: 10em 0 0;
		form {
			position: relative;
			padding: 0 0.6% 0 3.9%;
			@media(max-width: 767px) {
		    	padding: 0;
		    }
			.form-group {
		    	margin-bottom: 0.75rem;
		    	@media(max-width: 767px) {
		    		display: block!important;
		    	}
			}
			input {
				text-transform: uppercase;
				border-radius: 0;
				border: none;
				background: #d7d7d7;
				color: black;
				font-size: 3.9em;
				text-align: center;
				font-weight: 300;
				line-height: 1.5em;
    			padding: 6px 10px 0;
    			letter-spacing: -0.03em;
    			@media(max-width: 767px) {
		    		margin: 10px 2%!important;
    				width: 96%;
		    	}
				&.read {
					background: white;
					font-size: 5em;
					font-family: 'Burbank Bold', cursive;
					letter-spacing: 0.05em;
					padding-bottom: 0;
					line-height: 1.55em;
					@media(max-width: 767px) {
			    		margin: 10px 2%!important;
    					width: 96%;
			    	}
				}
				&:focus {
					outline: none;
					border: none;
					box-shadow: none;
				}
				&::-webkit-input-placeholder {
				  color: black;
				}
				&::-moz-placeholder {
				  color: black;
				}
				&:-ms-input-placeholder {
				  color: black;
				}
				&:-moz-placeholder {
				  color: black;
				}
				&.flexy {
					flex: 2;
					&.half {
						flex: 1;
					}
				}
			}
		}
		&.diff {
			padding-top: 5em;
			a.btn {
				margin-top: -0.05em;
				font-size: 3em;
    			letter-spacing: 0.14em;
    			max-width: 670px;
			    right: -17px;
			    padding-left: 5.5%;
			    margin-bottom: -0.65em;
			    @media(max-width: 767px) {
			    	font-size: 2em;
			    	right: 0;
			    }
			}
		}
		.frame {
			position: relative;
			background-image: url(/images/white.png);
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
			padding: 8.3em 0 3.5em;
			@media(max-width: 1025px) {
				.container {
					max-width: 1920px;
				}
			}
			@media(max-width: 769px) {
				.container {
					max-width: 400px;
				}
			}
			.padd {
				padding: 0 7% 0 5.5%;
				@media(max-width: 769px) {
					padding: 0 7%;
				}
			}
			.data {
				position: relative;
				padding-top: 52%;
				margin-top: 10px;
				&:before {
					content: '';
					position: absolute;
					top: -7%;
					right: -15px;
					width: 102%;
					height: 100%;
					background-image: url(/images/frame.png);
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
					@media(max-width: 769px) {
						background-image: url(/images/frame_full.png);
						right: -34%;
					    width: 154%;
					    height: 160%;
					    top: -17%;
					}
					@media(max-width: 767px) {
						right: -13%;
    					width: 120%;
					}
				}
				.letters {
					position: absolute;
				    top: 3%;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    padding-right: 3%;
				    @media(max-width: 1025px) {
				    	padding-right: 0;
				    	padding-left: 10%;
				    }
				    @media(max-width: 769px) {
				    	top: 27%;
				    }
				    @media(max-width: 767px) {
				    	top: 23%;
				    	padding-left: 3%;
				    }
				    h6 {
					    font-size: 2.7em;
					    text-transform: uppercase;
					    margin: 0;
					    line-height: 1.2em;
					    letter-spacing: 0.07em;
					    text-align: center;
					    font-family: 'Burbank Bold', cursive;
					    @media(max-width: 1025px) {
					    	font-size: 2.2em;
					    }
					    @media(max-width: 769px) {
					    	font-size: 2.7em;
					    	line-height: 1.1em;
					    }
					    @media(max-width: 767px) {
					    	font-size: 2.1em;
					    }
					}
				}
			}
			p {
			    font-family: 'Montserrat', sans-serif;
			    margin: 5px auto;
			    text-transform: uppercase;
			    text-align: center;
			    max-width: 460px;
			    line-height: 1.2em;
			    letter-spacing: 0.04em;
			    padding-left: 2%;
			    @media(max-width: 769px) {
			    	padding-left: 5%;
				    margin-top: 6em;
				    font-size: 1.3em;
				    width: 125%;
				    margin-left: -10%;
			    }
			    @media(max-width: 767px) {
			    	padding-left: 0;
				    margin-top: 4em;
				    font-size: 1.1em;
				    width: 100%;
				    margin-left: 0;
			    }
			    a {
			    	text-decoration: none;
			    	color: inherit;
			    }
			}
		}
		&.oops {
			h5 {
			    font-size: 2.4em;
			    letter-spacing: 0.02em;
			    color: #636363;
			    &+p {
				    font-size: 1.1em;
				    font-family: "Montserrat", sans-serif;
				    margin: 1.3em 0 2.5em;
				    letter-spacing: 0.01em;
				    color: #636363;
				    @media(max-width: 769px) {
				    	padding: 0 14%;
				    	font-size: 1.5em;
				    }
				}
			    @media(min-width: 1368px) {
			    	width: 110%;
				    margin-left: -3.5%;
				    margin-top: -12px;
				    line-height: 1.3em;
			    }
			    @media(max-width: 769px) {
			    	br {
			    		display: none;
			    	}
			    	font-size: 3.1em;
    				padding: 0.2em;
			    }
			    a {
			    	font-family: 'Burbank Bold';
			    	color: inherit;
			    }
			}
		}
		h3.title {
			color: #f5821f;
			text-transform: uppercase;
			font-size: 4.1em;
		    font-family: "Burbank Bold";
		    padding: 0 5%;
		    margin: -5px 0 0;
		    letter-spacing: 0.025em;
		    line-height: 1.1em;
		}
		p.copy {
			color: #636363;
			font-size: 3.5em;
		    margin: 0 0 0.4em;
		    padding: 0.5em 5%;
		    line-height: 1.2em;
		    letter-spacing: -0.011em;
			a {
				color: inherit;
				font-family: 'Burbank Bold';
			}
		}
	}
	figure.framed {
		position: relative;
		padding-top: 100%;
		h4 {
		    font-size: 3.6em;
		    text-align: center;
		    line-height: 1em;
		    letter-spacing: 0.06em;
		    font-family: 'Burbank Bold', cursive;
		    @media(max-width: 1025px) {
		    	font-size: 3.1em;
		    }
		}
		.legend {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
		&:before, &:after, &>:first-child:before, &>:first-child:after {
		    position: absolute;
		    z-index: 2;
		    width: 102px; 
		    height: 102px;
		    border-color: #ffd933;
		    border-style: solid;
		    content: '';
		}
		&:before {top:0;left:0;border-width: 20px 0 0 20px}
		&:after {top:0;right:0;border-width: 20px 20px 0 0}
		&>:first-child:before {bottom:0;right:0;border-width: 0 20px 20px 0}
		&>:first-child:after {bottom:0;left:0;border-width: 0 0 20px 20px}
		@media(max-width: 769px) {
			&:before {top:0;left:0;border-width: 12px 0 0 12px}
			&:after {top:0;right:0;border-width: 12px 12px 0 0}
			&>:first-child:before {bottom:0;right:0;border-width: 0 12px 12px 0}
			&>:first-child:after {bottom:0;left:0;border-width: 0 0 12px 12px}
		}
	}
	button, a.btn {
		position: relative;
		display: block;
		margin-top: 0.75em;
	    text-transform: uppercase;
	    font-size: 3.7em;
	    letter-spacing: 0.15em;
	    // background: #f5821f;
	    background-color: transparent;
	    background-image: url(/images/button.png);
	    background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	    border: none;
	    width: 90%;
		max-width: 610px;
		padding: 2em;
		font-family: 'Burbank Bold', cursive;
		@media(max-width: 767px) {
			padding: 2em 0 2em 0.5em;
		}
	    &:focus, &:hover, &:active {
	    	box-shadow: none;
	    	border: none;
	    	outline: none;
	    }
	    &:hover {
	    	-webkit-filter: hue-rotate(-25deg);
			filter: hue-rotate(-25deg);
	    }
	}
	footer {
		background-image: url(/images/footer.png);
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		padding: 3.7em 0 14em;
    	font-size: 1.85em;
    	margin-top: -0.6em;
    	@media(max-width: 769px) {
    		margin-top: 0;
    		padding-bottom: 1em;
    	}
    	@media(max-width: 767px) {
    		padding-bottom: 2.5em;
    		padding-top: 2em;
    	}
		#terms {
		    width: 100%;
		    list-style: none;
		    padding: 0;
		    @media(max-width: 769px) {
		    	display: block!important;
		    	text-align: center;
		    }
		    li {
		    	a {
		    		text-decoration: none;
		    		color: white;
		    		font-weight: 300;
		    	}
		    }
		}
	}
	&.prize {
		header {
			background-image: url(/images/background_prize.png);
			padding-bottom: 10.7em;
			#logo {
				margin: 5em auto 0;
    			width: 71%;
    		}
		}
		.container.frame {
		    max-width: 1070px;
		    margin-top: -1em;
		}
		.framed {
			width: 93%;
			padding-top: 93%;
			.legend {
				h4 {
					text-transform: uppercase;
					color: white;
					font-size: 4em;
					width: 121%;
				    position: absolute;
				    margin: 0;
				    line-height: 1.4em;
				    padding-bottom: 0.2em;
				    letter-spacing: 0.04em;
				    left: -13%;
					strong {
						font-size: 1.45em;
					}
				}
			}
		}
		.tag img {
		    width: 80%;
		    margin-left: 4%;
		    margin-top: -7px;
		}
		#shape {
			position: relative;
			width: 100%;
			background-image: url(/images/shape.png);
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
		#overflow {
		    position: absolute;
		    width: 60%;
		    transform: rotate(-6deg);
		    border: 3px solid red;
		    height: 60%;
		    display: block;
		    overflow: hidden;
		    left: 10%;
		    top: 10%;
		}
		#final {
			position: relative;
			pointer-events: none;
		}
		#picture {
			position: absolute; 
			text-align: center;
			background-color: white;   
			width: 200px; 
			top: 0px; 
			left: 0px;
			transform: rotate(0deg);
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&.index {
		#content {
			padding-top: 3em;
			max-width: 100%;
			@media(max-width: 769px) {
				h3.title {
				    padding-top: 2.8em;
				    font-size: 5em;
				}
				p.copy {
				    font-size: 4em;
				    padding: 0.5em 10%;
				    letter-spacing: 0;
				}
			}
		}
	}
}
